.fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./fundo_borrado.png);
    height: 673px;
}

.header{
    display: flex;
    text-align: center;
    margin-left: 840px;
}
.body{
    display: flex;
    height: 320px;
    width: 360px;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 241, 241);
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px grey;
}
.box{
    height: 300px;
    width: 340px;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.3);;

}
.cadastro{
    margin-right: 98px;
}

.lm{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}

.cm{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}



.lm:hover{
    background-color: rgb(151, 151, 151);
}

.cm:hover{
    background-color:  rgb(151, 151, 151);
}
.cadastro:hover{
    background-color: transparent;
}

.cadastro svg {
    margin-right: 8px;
}

.title{
    margin-top: 15px;
    text-align: center;
    color: rgb(77, 75, 75);
    text-decoration: underline;
    font-size: 25pt;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input{
    border-radius: 5px;
    width: 240px;    
    height: 50px;
    margin: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 14pt;
    padding: 10px;
}

.button{
    border-radius: 5px;
    margin-top: 3px;
    width: 240px;
    height: 50px;
    background-color: rgba(132, 132, 134, 0.267);
    cursor: pointer;
    font-size: large;
    transition: background-color 1s;
}

.button:hover{
    background-color: rgb(104, 104, 104);
}

.rodape{
margin-top: 150px;
text-align: center;
font-size: 13pt;
border-top: 1px solid black;
width: 1350px;
}

