.fundoCM{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./fundo_borrado.png);
    height: fit-content;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.popup{
    display: block;
    position: absolute;
    align-self: center;
}

.header{
    display: flex;
    text-align: center;
    margin-left: 840px;
    width: 550px;   
}

.cadastro{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.lm{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.ln{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}

.cadastro:hover{
    background-color:  rgb(151, 151, 151);
}

.lm:hover{
    background-color: rgb(151, 151, 151);
}

.ln:hover{
    background-color:  rgb(151, 151, 151);
}

.form{
    width: 380px;
    background: rgb(243, 241, 241);
    height: 625px;
    border-radius: 20px;
    box-shadow: 4px 4px grey;
    padding: 10px;
}


.cadastromidia{
    width: 360px;
    background-color: #ddd;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: auto;
}

.calendario{
    width: 300px;
    height: 30px;
    margin-left: 15px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    padding: .375rem .75rem;
}

.botao{
    color: black;
}
.rodapeCM{
    margin-top: 15px;
    text-align: center;
    font-size: 13pt;
    border-top: 1px solid black;
    width: 1350px;
    padding-bottom: 0px;
}
.batbaCA{
    margin-left: 13px;
}