.fundoCU{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./fundo_borrado.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.headerCU{
    display: flex;
    text-align: center;
    margin-left: 840px;
}
.boxCU{
    height: 480px;
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);

}
.box-{
    background: rgb(243, 241, 241);
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px grey;
}
.form-group{
    margin-bottom: 17px;
}
.form-control{
    align-items: center;
    width: 300px;
    height: 30px;
    display: flex;
    font-size: 10pt;
    margin-left: 15px;
}
.col{
    padding-left: 0px; 
}
.titleCU{
    margin-top: 10px;
    text-align: center;
    color: rgb(77, 75, 75);
    text-decoration: underline;
    font-size: 25pt;
}
.loginCU{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 0px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.lmCU{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 0px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.cmCU{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 0px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.btn-primary{
    height: 30px;
    width: 300px;
    text-align: center;
}
.btn{
    align-items: center;
    width: 300px;
    margin: 15px;
    margin-top: 3px;
    padding: 0px;
    background-color: rgba(132, 132, 134, 0.267);
    border-color: rgba(132, 132, 134, 0.267);
    color: rgb(75, 73, 73);
}
.btn:hover{
    background-color: rgb(104, 104, 104);
}
.loginCU:hover{
    background-color:  rgb(151, 151, 151);
}

.lmCU:hover{
    background-color: rgb(151, 151, 151);
}

.cmCU:hover{
    background-color:  rgb(151, 151, 151);
}
.rodapeCU{
    margin-top: 15px;
    text-align: center;
    font-size: 13pt;
    border-top: 1px solid black;
    width: 1350px;
}
.batba{
    margin-left: 300px;
}
