.back {
    display: flex;
    flex-direction: column;
    background-image: url(./fundo_borrado.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.headerr {
    display: flex;
    text-align: center;
    margin-left: 820px;
}

.titulo{
    height: auto;
    width: fit-content;
    background-color: #ddd;
    box-shadow: 4px 4px grey;
}
.table{
    border-radius: 10px;
}

.tabelaheight{
    height: 385px;
    width: 750px;
}
.titulotabela{
    background-color: rgb(151, 151, 151);
}

.bodytabela{
    background-color: rgb(218, 218, 218);
}

.rodapeLM {
    margin-bottom: 15px;
    text-align: center;
    font-size: 13pt;
    border-top: 1px solid black;
}
.batbaLM{
    margin-left: 25px;
}
