.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./fundo_borrado.png);
    height: 1510px;
}
.header {
    display: flex;
    flex-direction: center;
    text-align: center;
}
.back h1 {
    margin-bottom: 25px;
    margin-top: 13px;
    margin-left: 40px;
    color: rgba(0,0,0,0.9);
}
.back ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 150px;
    list-style: none;
    color: green;
}
.back ul li {
    background-color:rgb(245, 245, 245);
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.back ul li strong {
    display: block;
    margin-bottom: 15px;
    color: rgb(49, 46, 46);
}
.back ul li p {
    color: rgb(15, 15, 15);
    display: block;
    line-height: 25px;
    font-size: 11pt;
}
.cadm{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.cadu{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.ln{
    margin: 10px;
    width: 150px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    padding-top: 3px;
    transition: background-color 1s;
    cursor: pointer;
    color: black;
}
.ln:hover{
    background-color:  rgb(151, 151, 151);
}
.cadu:hover{
    background-color:  rgb(151, 151, 151);
}
.cadm:hover{
    background-color:  rgb(151, 151, 151);
}
footer h3 {
    margin-top: 75px;
    text-align: center;
    font-size: 11pt;
    border-top: 1px solid black;
    width: 1350px;
}
.bordaporfora {
    background-color: rgb(218, 218, 218);
    padding: 13px;
    border-radius: 15px;
}
