.back {
    display: flex;
    flex-direction: column;
    background-image: url(./fundo_borrado.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}

.headerr {
    display: flex;
    text-align: center;
    margin-left: 15px;
}

.userrr{
    margin-right: 600px;
    width: 120px;
    height: 110px;
    border-radius: 20px;
    background-color: rgb(243, 241, 241);
}

.titulo{
    height: auto;
    width: fit-content;
    background-color: #ddd;
    margin: auto;
}

.tabelaLM{
    background-color: rgb(243, 241, 241) ;
    height: 435px;
    flex-direction: column;
    width: 780px;
    margin-top: 50px;
    margin-left: 290px;
    border-radius: 10px;
    box-shadow: 4px 4px grey;
}
.tabelaLM2{
    background-color: #ddd;
    height: 420px;
    flex-direction: column;
    width: 765px;
    margin-top: 9px;
    margin-left: 8px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.table{
    border-collapse: unset !important;
}
.table td, .table th {
    border-top: none !important;
}
*, ::after, ::before{
    border-radius: 3px;
}
.titulo{
    text-align: center;
    margin-top: 0px;
    text-decoration: underline;
    color: rgb(77, 75, 75);
}

.tabelaheight{
    height: 415px;
    width: 750px;
    margin-top: 0.5rem;

}
.titulotabela{
    background-color: rgb(151, 151, 151);
}

.bodytabela{
    background-color: rgb(218, 218, 218);
}

.rodapeLM {
    margin-bottom: 15px;
    margin-top: 35px;
    text-align: center;
    font-size: 13pt;
    border-top: 1px solid black;
}

.topicosdaMidia strong {
    font-size: 13pt;
}
.topicosdaMidia p {
    font-size:11pt;
}
#contained-modal-title-vcenter {
    display: flex;
    font-size: 21pt;
}
.batbaLM {
    margin-left: 250px;
    height: 60px;
}